.grid {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    gap: var(--spacing-100) var(--spacing-300);
}

@media (max-width: 1060px) {
    .grid {
        gap: var(--spacing-100) var(--spacing-200);
    }
}
